* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

button:hover {
    background-color: lightgray;
}
